/* CSS Document */
body{
	background-color:#FFFFFF;	
}

#line{
	height:10px;
	background-color:#27aae1;
		
}
.Line{
	height:10px;
	background-color:#27aae1;
	margin-top:-20px;	
}

#brand-img{
	margin-top:-55px;	
}
.navbar-nav li{
	font-weight:bold;
	font-size:1.2em;
	font-family:Bitter,Georgia, "Times New Roman", Times, serif	;
}

.col-sm-10{
	background-color:#FFF;
}
#Side_Menu a{
	color:#9fb1c2;
}
#Side_Menu .active a{
	color:#FFF;
	background-color:#27AAE1;
	font-weight:bold;
}
#Side_Menu a:hover{
	color:#FFF;
	background-color:#1ab394;
	font-weight:bold;
	display:block;	
}
#Footer{
	padding:10px;
	border-top:1px solid black;
	color:#eee;
	background-color:#211f22;
	text-align:center;
	
}
.image{
	width:200px;
	height:40px;	
}

































